<!DOCTYPE html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Today</h1>
        <%today = Date.today.strftime("The date is: %A, %B %d, %Y")%>
        <p><%=today%></p>
    </body>
</html>